:root {
    --main-dark-color: #617778;
    --main-dark-hover-color: #94a8a9;
    --main-dark-comp-color: #E4DEDE;
    --main-light-color: #dbdbd0;
}

.header-center { 
    text-align: center;
    padding-bottom: 20px;
}

.pull-left { float:left; }
.pull-right { float:right; }

.admin-content .backarrow {
    margin-top: 8px;
    float: left;
    color: var(--main-dark-color);
    transition: transform 0.1s ease;
}

.linkarrow {
    margin-top: 8px;
    color: var(--main-dark-color);
    transition: transform 0.1s ease;
    display: inline-block;
    margin-left: 15px;
    transform: translateY(-5px);
}

.backarrow:hover,
.linkarrow:hover,
.ledigt .backarrow:hover { color: var(--main-dark-hover-color); }
.backarrow:active,
.linkarrow:active { transform: scale(0.9); }

.lagenhet-kort,
.objekt a,
.nyheter a { 
    text-decoration: none;
    color: black;
}

.lagenheter,
.objekt,
.nyheter {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
    columns: 2;
}

.lagenhet-kort {
    background: white;
    display: flex;
    flex-direction: column;
    width: 260px;
    height: 260px;
    border: 1px solid #c1c1c1;
    transition: all 0.3s ease;
    font-size: 18px;
    justify-content: flex-start;
    color: black;
    /* box-shadow: 0px 0px 5px rgba(0,0,0,.5); */
    opacity: 0;
    transform: translateX(100px);
}

.lagenheter .show,
.objekt .show {
    opacity: 1;
    transform: translateX(0);
}

.lagenhet-kort:hover {
    background-color: rgb(240, 240, 240);
    transform: scale(1.01);
    box-shadow: 0px 0px 15px rgba(0,0,0,.5);
    color: black;
}

.lagenhet-kort:hover .lagenhet-kort-top img {
    filter: brightness(45%);
    transition: all .5s ease;
}

.lagenhet-kort .lagenhet-kort-top::after {
    content: "Läs mer";
    position: absolute;
    opacity: 0;
    color: white;
    font-size: 24px;
    top: 70px;
    left: 70px;
    transition: all .5s ease;
}

.lagenhet-kort:hover .lagenhet-kort-top::after { opacity: 1; }

.lagenhet-kort-bottom {
    margin-top: 10px;
    text-align: center;
    padding-bottom: 20px;
}

.lagenhet-kort-bottom p { 
    font-size: 16px;
    padding-bottom: 4px;
    margin-bottom: 0;
}

.lagenhet-kort-bottom .lagenhet-address { font-size: 17px; }

.lagenhet-kort-top img {
    width: 100%;
    aspect-ratio: 16/9;
    /* border-top-left-radius: 8px;
    border-top-right-radius: 8px; */
}

.content .ledigt,
.content .profil {
    min-height: 85vh;
}

.lagenhet-kort .add-top,
.nyhet-kort .add-top {
    padding-top: 50px;
    text-align: center;
    opacity: .5;
    transition: all 0.5s ease;
}

.lagenhet-kort .add-top p {
    font-size: 6rem;
    line-height: 1;
}

.lagenhet-kort:hover .add-top,
.nyhet-kort:hover .add-top { opacity: .7; }

.lagenhet-kort .add-bottom {
    padding-bottom: 50px;
    text-align: center;
}

.lagenhet-kort .add-bottom p {
    font-size: 2rem;
}

.nyhet-kort {
    background: white;
    display: flex;
    flex-direction: column;
    width: 360px;
    height: 220px;
    border: 1px solid #c1c1c1;
    /* border-radius: 8px; */
    transition: all 0.3s ease;
    margin: 0 25px 20px 0;
    font-size: 15px;
    color: black;
    /* box-shadow: 0px 0px 5px rgba(0,0,0,.5); */
    padding: 15px;
    overflow: hidden;
}

.nyhet-kort:hover,
.intresseanmalan-kort:hover {
    background-color: rgb(240, 240, 240);
    transform: scale(1.01);
    box-shadow: 0px 0px 15px rgba(0,0,0,.5);
}

.nyhet-kort-top p { 
    font-size: 18px;
}

.hem {
    display: flex;
    flex-direction: column;
    margin-top: -60px;
}

.hem-top {
    height: 40%;
    width: calc(100% + 60px);
    margin-left: -30px;
    margin-top: -30px;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.hem-top .image {
    filter: brightness(40%);
}

.hem-top-text {
    position: absolute;
    width: 100%;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hem-top-text h1 {
    font-size: 2.5rem;
    margin-bottom: 50px;
    color: white;
    text-shadow: 3px 2px #000000;
}

.hem-top-text a {
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
    border: 1px solid #6F8F72;
    background: rgb(0 0 0 / 80%);
    margin-top: 20px;
    padding: 10px 16px;
}

.hem-top-text a:hover { 
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 3px white;
}

.hem-top-text a::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f061";
    margin-left: -10px;
    opacity: 0;
    transition: all .5s;
}

.hem-top-text a:hover::after {
    margin-left: 10px;
    opacity: 1;
}

.hem-top-text a:active { box-shadow: inset 0 0 5px white; }

.hem-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    column-gap: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
    width: min(1000px, 100%);
}

.hem-info-left, .hem-info-right {
    width: 45%;
}

.hem .nyheter h1 {
    margin-bottom: 25px;
}

.hem .nyheter {
    /* margin-top: 40px; */
    margin-bottom: 80px;
    overflow: hidden;
    position: relative;
    margin-left: -30px;
    margin-right: -30px;
}

.hem .nyhet { 
    color: black;
    padding-left: 50px;
    padding-right: 70px;
    padding-bottom: 30px;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.hem .nyhet:nth-child(even) {
    background: #6F8F72;
}

.hem .nyheter-title {
    width: min(1000px, 100%);
    margin: auto;
}

.hem .nyhets-text {
    white-space: pre-line;
}

.ledigt,
.ledigt .lagenheter {
    padding-top: 20px;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.profil .loginForm {
    margin: 0 auto;
}

.backarrow {
    display: inline-block;
}

.form {
    margin: 0 auto;
}

.form .form-floating>.form-control, .form-floating>.form-select {
    height: calc(3rem + 2px);
}

.form .form-floating>label {
    font-size: .8rem;
    color: gray;
}
.form-floating>.form-control:not(:placeholder-shown)~label {
    font-size: .85rem;
}

.form .form-floating>.form-control:focus~label,
.form-floating>.form-control:not(:placeholder-shown)~label,
.form-floating>.form-select~label {
    transform: scale(.85) translateY(-0.9rem) translateX(0.15rem);
}

.form .form-floating>.form-control {
    padding: 1rem 1rem;
    padding-top: 2rem;
}

.form .mb-4 { margin-bottom: .8rem !important; }

.tabs {
    display: flex;
    justify-content: space-around;
}

.tabs a {
    color: black;
    text-decoration: none;
    margin-right: 40px;
    font-size: 1.2rem;
    background: #6F8F72;
    padding: 10px 20px 10px 20px;
    /* border-top-right-radius: 10px;
    border-top-left-radius: 10px; */
    border: 1px solid #c1c1c1;
    border-bottom: none;
    position: relative;
    transition: all .5s ease;
    box-shadow: inset 0px -11px 8px -10px rgb(65, 65, 65); 
}

.tabs a:hover {
    background: var(--main-dark-hover-color);
}

.tabs .active {
    color: black;
    background: var(--main-light-color);
    box-shadow: none;
}

.tabs .active:hover {
    background: var(--main-light-color);
}

.tabs a::after {
    content: "";
    background: var(--main-dark-color);
    position: absolute;
    width: 0;
    height: 0;
    top: 49px;
    left: 50%;
    transition: all .5s ease;
}

.tabs .active::after {
    content: "";
    background: #dadace;
    position: absolute;
    width: 100%;
    height: 3px;
    top: 48px;
    left: 0;
}

.admin .admin-content {
    min-height: 600px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0;
    background: var(--main-light-color);
    padding: 30px;
    border: 1px solid #c1c1c1;
    /* border-radius: 10px; */
    /* box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px,
    0px -11px 8px -10px #CCC;  */
}

.admin-content .lagenhet-kort,
.ledigt .lagenhet-kort {
    margin: 0 25px 20px 0;
    overflow: hidden;
}

.nyheter .add-kort {
    width: 180px;
    text-align: center;
}

.nyhet-kort .add-top { padding-top: 10px; }

.nyheter .add-bottom {
    font-size: 1.6rem;
    margin-top: 40px;
}

.hem .show {
    transform: translateX(0);
    opacity: 1;
}

.lagenhet-detalj { 
    width: 100%;
    text-align: center;
}

.button-row .btn {
    margin-right: 10px;
}

.lagenhet-edit, .objekt-edit, .nyhet-edit {
    justify-self: center;
    width: min(100%, 1000px);
    text-align: center;
}
.objekt-edit .address-field {
    max-width: 600px;
    margin: 0 auto;
}
.nyhet-edit {
    width: min(100%, 700px);
}
.admin-content select,
.admin-content input,
.admin-content textarea {
    margin-bottom: 15px;
}
select {
    cursor: pointer;
}
.input-row { 
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
}
.admin-content .input-row {
    justify-content: center;
}
.admin-content select {
    height: 60px !important;
}
.admin-content .form-check-input {
    width: 2.5em !important;
    margin-left: -3em !important;
}
.edit-titel {
    margin-bottom: 35px;
}
.admin-content .postform textarea {
    resize: none;
}
.admin-content .postform {
    margin-bottom: 40px;
}
.admin-content .file-upload {
    margin-top: 30px;
}

.lagenhet-info-detalj {
    display: grid;
    margin-top: 20px;
    grid-template-columns: 400px 400px;
    text-align: left;
    justify-content: center;
    margin-left: 200px;
    margin-bottom: 50px;
    text-transform: uppercase;
    font-size: 1em;
}

.lagenhet-info-detalj i { width: 30px}

.lagenhet-info-right {
    display: flex;
    justify-content: center;
    text-align: left;
    font-size: 1.2rem;
}

.images {
    margin-top: 10px;
}
.image-wrapper {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
}
.edit-bild {
    width: 150px;
    margin-right: 30px;
    border-radius: 8px;
}
.image-wrapper {
    transition: all .2s linear;
}
.image-wrapper:hover {
    transform: scale(1.03);
}
.del-image {
    position: absolute;
    top: -10px;
    right: 22px;
    cursor: pointer;
    font-size: 13px;
    color: white;
    background: black;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    font-weight: bold;
    transition: all .2s linear;
}
.del-image:before {
    content: '✕';
}
.del-image:hover {
    background: #ac2232;
    height: 23px;
    width: 23px;
    font-size: 15px;
}
.del-image:active {
    border: 1px solid white;
}
.out {
    transform: scale(0);
    transition: transform .5s linear;
}
.objekt-edit .file-upload {
    margin-bottom: 20px;
}
.input-inline .form-floating {
    width: 90%;
    display: inline-block;
}
.ledigt .backarrow {
    float: left;
    margin-left: 30px;
    font-size: .95rem;
    color: var(--main-dark-color);
}
#intresseBtn {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    /* border-radius: 45px; */
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin-bottom: 30px;
}
#intresseBtn:hover {
    background-color: #6F8F72;
    box-shadow: 0px 15px 20px #6F8F72(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}
#intresseBtn:active {
    transform: translateY(-1px);
}
@media (max-width: 770px) {
    .ledigt .header-center {
        font-size: calc(1.075rem + 1.5vw);
    }
    .ledigt .backarrow {
        font-size: .7rem;
        margin-top: 2px;
        margin-left: 0;
    }
    .lagenhet-info-detalj {
        grid-template-columns: 1fr;
        font-size: 1em;
        margin-left: 25%;
    }
    .lagenhet-info-right {
        width: 90%;
    }
    .tabs {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        gap: 5px;
        flex-grow: 1;
        width: 85%;
    }
    .tabs a {
        font-size: .9rem;
        margin-right: 0;
        overflow: hidden;
        padding: 7px 12px;
    }
    .tabs a.active { 
        width: auto;
        overflow: visible;
    }
    .tabs a::after {
        top: 36px;
    }
    .tabs .active::after {
        top: 35px;
    }
    .linkarrow { margin-left: 3px; }
    .input-inline .form-floating { width: 85%; }
    .input-row {
        flex-direction: column;
        gap: 2px;
    }
    .lagenhet-kort p {
        font-size: .95rem;
    }
    .lagenhet-kort .lagenhet-address {
        font-size: 1.05rem;
    }
    .nyhet-kort {
        width: min(90%, 360px);
        margin-right: auto;
        margin-left: auto;
    }
    .nyhet-kort-top p {
        margin-bottom: 5px;
    }
    .nyhet-kort-bottom p {
        font-size: .8rem;
    }
    .stick-bottom {
        position: relative;
        bottom: 0;
    }
    .stick-bottom p {
        white-space: nowrap;
    }
    #intresseBtn {
        padding: 1.1em 2.4em;
    }
}

.lagenhet-detalj .fa-check,
#intresseanmalanModal .fa-check { 
    color: green;
}

.lagenhet-detalj .inskickadText {
    margin-bottom: 30px;
    font-size: 1.1rem;
    margin-top: 20px;
}
.lagenhet-detalj .inskickadText i {
    margin-left: 10px;
}
.nyheter-content {
    width: min(1000px, 100%);
}
.intresseanmalningar {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
    gap: 15px;
}
.intresseanmalan-kort {
    border: 1px solid #c1c1c1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 150px;
    /* border-radius: 6px; */
    background: white;
    color: black;
    transition: all 0.3s ease;
}
.intresseanmalningar a {
    text-decoration: none;
}
.intresseanmalan-detalj {
    display: flex;
    width: min(100%, 1000px);
    flex-direction: column;
    align-items: center;
}
.intresseanmalan-titel {
    width: 100%;
    text-align: center;
}
.admin-content .intresseanmalningar .backarrow {
    margin-top: 4px;
}
.intresse-fritext {
    width: 80%;
    text-align: center;
    margin-top: 30px;
    background: #fffff8;
    border: 1px solid #d8d2c6;
    border-radius: 6px;
    min-height: 200px;
    padding: 2rem;
}
.intresse-detaljer {
    text-align: center;
    font-size: 1.1rem;
    padding: 1rem;
}
.intresse-detaljer a:hover {
    color: teal;
    text-decoration: underline;
}
.profil .form {
    width: min(500px, 100%);
}